/*********************************************

Here is a description of any special CSS used.
By default that's nothing.

**********************************************/
body {
  background-color: #abcba;
}

#haiku {
  font-family: Helvetica, sans-serif;
  font-size: 2rem;
  font-weight: bold;
}
