#poem {
  font-family: monospace;
  font-style: oblique 30deg;
  font-size: 2.5rem;
  text-align: center;
  color: white;
}

#answer {
  text-align: center;
  font-size: 2rem;
  width: 10rem;
  height: 10rem;
  border: 1.5rem dotted #008dcf;
  color: white;
  margin: auto;
}

.found {
  color: #00aeff;
  text-decoration: underline;
}

body {
  background-image: linear-gradient(rgba(0, 22, 79), rgba(0, 53, 189));
}
