#copypasta-hell {
  font-family: serif;
  font-size: 1.25rem;
  width: 50vw;
  margin: auto;
  color: black;
}
#first-pasta {
  color: darkblue;
}
#second-pasta {
  color: green;
}
#third-pasta {
  color: magenta;
}
#fourth-pasta {
  color: purple;
}
#fifth-pasta {
  color: darkred;
}

.title {
  background-color: black;
  color: white;
}

.header {
  background-color: tan;
}

.redacted {
  background-color: black;
  user-select: none;
}

.revealed {
  color: orange;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}

body {
  background-color: grey;
}
