#copypasta-hell {
  font-family: monospace;
  font-size: 1.25rem;
  width: 50vw;
  margin: auto;
}

.title {
  background-color: green;
}

.header {
  background-color: yellow;
}

.redacted {
  background-color: black;
  user-select: none;
}

.revealed {
  color: red;
  font-weight: bold;
  text-decoration: underline;
}

#first-pasta {
}
#second-pasta {
}
#third-pasta {
}
#fourth-pasta {
}
#fifth-pasta {
}
