#copypasta-hell {
  background-color: ##ff6200;
  font-family: monospace;
  font-size: 1.25rem;
  width: 50vw;
  margin: auto;
}

.redacted {
  background-color: black;
  user-select: none;
}

.revealed {
  color: red;
  font-weight: bold;
  text-decoration: underline;
}
